<h1>Welcome to super app</h1>

<% if user_signed_in? %>
	
	Good to see you  <%= link_to current_user.email, edit_user_registration_path %>
	<br> cnic <%= current_user.cnic %>

	<%= link_to "Sign out #{current_user.username}", destroy_user_session_path, method: 'delete'%>

<% else %>
	Sign up here <%= link_to "Sign up", new_user_registration_path, method: 'get'%>
	Sign in here <%= link_to "Sign in", new_user_session_path %>
<% end %>